<!doctype html>
<html ng-app="myApp">
<head>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-controller="MyController"> 
    <h1>Hello {{ clock }}!</h1>
</div>
<div>
    <h1>{{ message }}</h1>
</div>
<div ng-controller="Ctl2">
    <h2>{{ person }}</h2>
    <h3>{{ person.name }}</h3>
    <button ng-click="add(1)" class="button">Add</button>
    <button ng-click="subtract(1)" class="button">Subtract</button>
    <h4>count: {{ counter }}</h4>
</div>
<script type="text/javascript">
    function MyController($scope) { 
        $scope.clock = new Date();
        var updateClock = function() {$scope.clock = new Date();};
        setInterval(function() { $scope.$apply(updateClock);}, 1000);
        updateClock();
    };

    var app = angular.module("myApp", [])

    app.run(
        function($rootScope) {
            $rootScope.message = "Hello, world!";
        }
    );

    function Ctl2($scope) {
        $scope.name = "Tom";
        $scope.counter = 0;
        $scope.add = function(amt) { $scope.counter += amt; };
        $scope.subtract = function(amt) { $scope.counter -= amt; };
        $scope.person = { name: "Tom" };
    }
</script>
</body>
</html>